body {
    background-color: blanchedalmond;
}

.container {
    font-family: "Maven Pro";
    color: aliceblue;
    background-color: #7B1522;
    width: 360px;
    min-height: 500px;
    max-height: fit-content;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    box-shadow: 5px 5px 10px grey;
    
}

.header {
    width: fit-content;
    height: max-content;
    margin-left: auto;
    margin-right: auto;
}

/* Navbar */
.main_nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #480c13;
    border-radius: 10px;
}

.main_nav li {
    float: left;
}

.main_nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.main_nav li a:hover {
    background-color: #941827;
}

.contents {
    font-family: "Maven Pro";
    min-height: 400px;
    max-height: fit-content;
    margin-left: 20px;
    margin-right: 20px;
    /* text-align: justify;  */
}

.imglogo {
    margin-left: 30px;
    margin-right: auto;
    margin-top: 10px;
}

div.card {
    font-family: "Maven Pro";
    background-color: #c09fa3;
    padding: 10px;
    margin: 5px;
    margin-bottom: 10px;
    border-radius: 5px;
    color: black;
    font-weight: bold;
    font-size: 14px;
}

div.card2 {
    font-family: "Maven Pro";
    background-color: #c09fa3;
    padding: 10px;
    margin: 5px;
    margin-bottom: 10px;
    border-radius: 5px;
    color: black;
    font-weight: bold;
    font-size: 12px;
}

div a {
    text-decoration: none;
}

p.detail_indicator {
    font-size: 10px;
    line-height: 7px;
    text-align: right;
    margin-bottom: 0px;
}

div.card2 h3 {
    margin-top: 0px;
    font-weight: bolder;
}

button.back {
    font-family: "Maven Pro";
    width: 80px;
    height: 40px;
    margin: 5px;
    background-color: #941827;
    color: white;
    font-weight: bolder;
    border-radius: 5px;

}

.detail_title {
    margin-top: 0px;
}

mark {
    background-color: rgb(135, 179, 236);
    color: black;
}

button.form {
    font-family: "Maven Pro";
    margin-top: 10px;
    margin-bottom: 5px;
    border-radius: 5px;
    height: 25px;
    width: 150px;
    font-weight: bold;
}

.footer {
    font-family: "Maven Pro";
    height: 20px;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
}