body {
    background-color: blanchedalmond;
}

.container {
    font-family: "Maven Pro";
    color: aliceblue;
    background-color: #7B1522;
    width: 380px;
    min-height: 500px;
    max-height: fit-content;
    padding: 10px;
    margin: 10px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    box-shadow: 5px 5px 10px grey;
}

.header {
    width: fit-content;
    height: 150px;
    margin-left: auto;
    margin-right: auto;
}

/* Navbar */
.main_nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #480c13;
    border-radius: 10px;
}

.main_nav li {
    float: left;
}

.main_nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.main_nav li a:hover {
    background-color: #941827;
}

.contents {
    min-height: 400px;
    max-height: fit-content;
    margin-left: 20px;
    margin-right: 20px;
    text-align: justify;
}

.imglogo {
    width:200px;
    margin-left: auto;
    margin-right: auto;
}

.footer {
    height: 20px;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
}